body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(https://images.pexels.com/photos/1181244/pexels-photo-1181244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}
.white
{
    background-color: rgba(0, 0, 0, 0.482);
    width: 100%;
    height: 100%;
    grid-area: 1/1/6/6;

}
nav
{
    background-color: rgba(31, 26, 93, 0.863);
    width: 100%;
    height: 30%;
    margin-top: -135px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    grid-area: 1/1/2/6;
}
nav ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 120px;
}
nav ul li
{
    color: white;
    font-size: larger;
    font-size: 150%;
    
}
main
{
    margin-top: -110px;
    margin-left: -50px;
    width: 130%;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 20px;
    grid-area: 2/2/4/5;
}
.inicio
{
    color:white;
    background-color: rgba(15, 15, 170, 0.868);
    border-radius: 20px;
    width: 92%;
    margin-left: 20px;
    grid-area: 2/3/2/3;
}
.educacion
{

}
.proyectos
{

}

